body{
    background-color:white;
}
.logo img{
    width: 300px;
    height: 100px;
    
}
b{color: #d79239;

}
.menu2{
    background: #532f11;
    height: 45px;
    width: 100%;
}
.menu2> a {
    float: left;
    font-size: x-large;
    padding-left: 30px;
    margin: 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu2>a:visited { 
    color: white;}
.menu2>a:hover { 
        color: #d79239;
}
h2{
    color:#d79239;
    text-align: center;
    margin: 50px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    font-size: 25px;
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
.linhvuc h3{
    color:#d79239;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.linhvuc li a{
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.cot{
    width:20%;
    height: 300px;
    float:left;
    margin: 40px;
    border: 2px solid black ;
    border-radius: 5px;
    padding: 1px;
}
.cot img{
    width: 100%;
    height: 100%;
}
.gach{
    max-width: 10m;
     margin: 1px;
     
    }
.gach footer{
    color: #d79239;
    border-top:5px double white;
    line-height:30px;
    font-size: large;
    text-align:center;
    font-variant:small-caps;
    clear:both;
    background-color:#532f11;
    font-weight: bold;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.gach footer a{
    text-decoration: none;
    color:white;
}
.icon img{
    width: 2%;
    margin: 5px;
    border-radius: 15px;
}